html, body {
    height: 100%;
    margin: 0%;
}
/*---------------------------------------This is for all the page types---------------------------------*/
.homepage {
    background-image: url('assets/MrB-logo-Background.png');
    background-repeat: no-repeat;
}
.contactpage {
    font-family: 'Times New Roman'
}
.listingpage{
    font-family: 'Tahoma';
}
/*-----------------------------------------------This is for the Top-Navigation-Bar-----------------------*/
.topnav {
    font-family: 'Antonio';
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    margin: 0;
    list-style-type: none;
    background-color: black;
    font-size: 25px;
}
.topnav a {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
.topnav a:hover { 
    color: orange;
}
.topnav a.active {
    color: rgb(168, 168, 168);
}
/*-----------------------------------This is for the Picture Titles---------------------------------*/
.picTitle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Garamond';
    font-size: 125px;
    height: 40%;
    padding: 100px, 20px;
}
.TitleContainer {
    position: relative;
    text-align: center;
    height: 85%;
}
/*--------------------------------------This is for the Homepage---------------------------------------*/
.pagelist {
    font-family: 'Times New Roman';
    font-size: 25px;
    line-height: 150px;
    padding-left: 175px;
}
.pagelist a {
    color:black;
    font-size: 100px;
}
.pagelist a:visited {
    color:black;
}
.pagelist a:hover {
    color:rgb(50, 50, 50);
}
/*---------------------------------------This is for the aboutMepage-----------------------------------------*/
.meContainer {
    position: absolute;
    top: 60%;
    height: 130%;
    width: 90%;
    padding-left: 10%;
}
.meTextContainer {
    position: absolute;
    left: 30%;
    text-align: left;
    width: 40%;
    height: 60%;
    padding-top: 10%;
}
/*-------------------------------------This is for the Listing Page(s)--------------------------------------*/
.listingContainer {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
}
.listingpage h2 {
    font-family:'Liberation Sans';
}
.listingContainer h2 a {
    color: black;
    text-decoration: none;
    border-bottom: double;
}
.listingContainer h2 a:visited {
    color: black;
}
.listingpage p {
    text-align: center;
}
.listingContainer a {
    text-decoration: none;
}
.listingContainer a:visited {
    text-decoration: none;
    color: blue;
}
.listingContainer a:hover {
    color: rgb(255, 120, 0);
}

/*------------------------------------------------This fo the Contact Page---------------------------------------*/
.contactContainer {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
}
.emailContainer {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 50%;
    bottom: 250%;
}
.othersContainer {
    position: absolute;
    top: 250px;
    left: 10%;
    right: 10%;
}
.socialMediaContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 10%;
}
.contactContainer a {
    text-decoration: none;
}
.contactContainer a:visited {
    text-decoration: none;
    color: blue;
}
.contactContainer a:hover {
    color: rgb(255, 120, 0);
}
.contactContainer h2 {
    border-bottom: black double;
    font-size: 25px;
}
.contactContainer li {
    font-size: 20px;
    line-height: 30px;
}

.discordWidget {
    position: absolute;
    top: 75px;
    left: 50%;
}

.guildedWidget {
    position: absolute;
    top: 200px;
    left: 5%;
}
