.homepage {
    background-image: url('websitePictures/MrB-logo-Background.png');
    background-repeat: no-repeat;
}
.infopage {
    background-image: url('websitePictures/MrB-Background.png');
    background-repeat: no-repeat;
}

.pagelist {
    font-family: 'Times New Roman';
    font-size: 25px;
    line-height: 150px;
    padding-left: 175px;
}
.pagelist a {
    color:black;
    font-size: 100px;
}
.pagelist a:visited {
    color:black;
}
.pagelist a:hover {
    color:rgb(50, 50, 50);
}

.topnav {
    overflow: hidden;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 7px;
    margin: 0;
    list-style-type: none;
    background-color: black;
    font-size: 25px;
}
.topnav a {
    text-align: right;
    color: white;
    padding-left: 15px;
    padding-right: 15px
}
.topnav a:hover { 
    color: orange;
}
.topnav a:active {
    color: lightgrey;
}
