$img-radius: 10rem;

.introduction-section {
  padding-top: 2rem;
  margin-top: $img-radius;

  border-top: 0.1rem solid #b3b3b3;

  .portrait-container {
    position: relative;

    top: -$img-radius;

    display: block;

    float: left;

    overflow: hidden;

    height: 2 * $img-radius;
    width: 2 * $img-radius;

    border: 0.1rem solid #b3b3b3;
    border-radius: $img-radius;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;

    margin-right: $img-radius / 1.6;

    shape-outside: circle(#{$img-radius + 1rem} at center top);
  }
}
