.award-honor-card {
  margin: 2rem 0 1rem;

  .title-wrapper {
    display: flex;

    h2 {
      margin-bottom: 0;
    }

    h3 {
      &::before {
        content: '|';

        margin: 0 0.8rem;
      }

      line-height: 1.5;
    }

    @media only screen and (max-width: 850px) {
      flex-direction: column;

      h3 {
        &::before {
          content: '';

          margin: 0;
        }
      }
    }
  }

  h4 {
    margin-top: 0;
    margin-bottom: 1rem;

    color: rgba(#000, 0.6);
    font-size: 1.6rem;
    line-height: 1;
  }
}
