.page-title {
  flex: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 60rem;

  background-blend-mode: overlay;
  background: radial-gradient(circle, var(--color-gradient-1), var(--color-gradient-2)),
    rgba(#fff, 0.125);

  span {
    font-family: "Garamond";
    font-size: 12.5rem;
    margin: 2rem;
  }
}
